body{
	background-color: #e5e3e1;
}

.rectangle1 {
	display:block;
	position:absolute;
	animation: rainbow 60s
	linear infinite;
}

 @-webkit-keyframes rainbow{
0%{
	background-color: #fff4d2;
}
50%{
	background-color: #ffe4bd;
}
100%{
	background-color: #fff4d2;
}
}

/*A1 stroke*/
.rectangle1 {
	width: 700px;
	height: 100px;
	transform: rotate(-20deg) skewX(-20deg);
	position: absolute;
	top: 100px;
	left: 200px;
	animation: rainbow 5s linear infinite;
}

.rectangle2 {
	width: 700px;
	height: 100px;
	transform: rotate(-20deg) skewX(-20deg);
	position: absolute;
	top: 250px;
	left: 200px;
	animation: rainbow 5s linear infinite;
}

.rectangle3 {
	width: 700px;
	height: 100px;
	transform: rotate(-20deg) skewX(-20deg);
	position: absolute;
	top: 400px;
	left: 200px;
	animation: rainbow 5s linear infinite;
}

.rectangle4 {
	width: 700px;
	height: 100px;
	transform: rotate(-20deg) skewX(-20deg);
	position: absolute;
	top: 550px;
	left: 200px;
	animation: rainbow 5s linear infinite;
}

.rectangle6 {
	background-color: #e5e3e1;
	width: 700px;
	height: 20px;
	transform: rotate(90deg);
	position: absolute;
	top: 450px;
	left: 20px;
}

.rectangle7 {
	background-color: #e5e3e1;
	width: 700px;
	height: 20px;
	transform: rotate(90deg);
	position: absolute;
	top: 300px;
	left: 400px;
}



