body{
  font-family: Helvetica, sans-serif;
  background-color: #EAEAEA;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between 20px;
  grid-template-columns: 400px 400px;
  grid-gap: 10px;
  background-color: #EAEAEA;
  padding: 40px;
}
.grid-container > div {
  background-color: #EAEAEA;
  text-align: left;
}
.title{
  color: GREY;
  font-size: 20px;
  font-variant: small-caps;
  padding-top: 30px;
}
.entry{
  color: black;
  font-weight: bold;
  font-size: 25px;
  line-height: 15px;
}

 .top{
  padding: 90px;
  margin-left: 440px;
  }

  .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a{
  font-size: 25px;
  line-height: 40px;
}

p{ 
  font-size: 25px;
  line-height: 40px;
  padding: 40px;
  width: 780px;
}


.header {
  margin-left: 75px;
  overflow: hidden;
  background-color: none;
  padding: 10px 10px;
}
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
}
.header a:hover {
  color: white;
}
.header a.active {
  color: white;
}
.header-right {
  float: right;
  padding-right: 88px;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  } 
  .header-right {
    float: none;
  }



